*.exe
/.vscode/
/example/

/readers_writers/rw
/readers_writers/.vscode/
/readers_writers/class_uml.puml
/readers_writers/wyniki.txt

/pub/.vscode/
/pub/pub
/pub/pub_doc.cpp
/pub/class_uml.puml
/pub/pub_simulation
/pub/wyniki.txt


/matrix_vector/.vscode/
/matrix_vector/mv
/matrix_vector/mv_ex
/matrix_vector/wyniki.txt
/matrix_vector/class_uml.puml

/integral/int
/integral/.vscode/
/integral/class_uml.puml
/integral/integral